parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between App\\Modules\\Auth\\Enums\\UserStatus and App\\Modules\\Auth\\Enums\\UserStatus will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Modules/Auth/Http/Services/Api/V1/Auth/AuthAccountService.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: app/Modules/Auth/Http/Services/Api/V1/Auth/AuthOtpService.php

		-
			message: '#^Parameter \#1 \$forceForever of static method Tymon\\JWTAuth\\JWT\:\:invalidate\(\) expects bool, Tymon\\JWTAuth\\Token\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Auth/Http/Services/Api/V1/Auth/AuthService.php

		-
			message: '#^Using nullsafe property access "\?\-\>token" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Auth/Http/Services/Api/V1/Auth/Password/PasswordService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Auth/Http/Services/Dashboard/Roles/RoleService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:permissions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Modules/Auth/Http/Services/Dashboard/Roles/RoleService.php

		-
			message: '#^Method App\\Modules\\Auth\\Http\\Services\\Dashboard\\Roles\\RoleService\:\:permissionFormData\(\) should return array\{permissionActions\: array\<int, string\>, permissionGroups\: Illuminate\\Support\\Collection\<string, array\<string, mixed\>\>\} but returns array\{permissionActions\: array\{''create'', ''read'', ''update'', ''delete''\}, permissionGroups\: Illuminate\\Support\\Collection\<\(int\|string\), array\{label\: \(array\|string\), actions\: Illuminate\\Support\\Collection\<string, mixed\>, other\: Illuminate\\Support\\Collection\<int, mixed\>\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Http/Services/Dashboard/Roles/RoleService.php

		-
			message: '#^Call to method Illuminate\\Contracts\\View\\Factory\:\:exists\(\) with ''auth\:\:emails\.otp'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: app/Modules/Auth/Mail/OtpEmail.php

		-
			message: '#^Instanceof between App\\Modules\\Auth\\Enums\\UserStatus and App\\Modules\\Auth\\Enums\\UserStatus will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Modules/Auth/Models/Manager.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\ManagerRepository\:\:create\(\) should return App\\Modules\\Auth\\Models\\Manager but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/ManagerRepository.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\ManagerRepository\:\:getById\(\) should return App\\Modules\\Auth\\Models\\Manager but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/ManagerRepository.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\UserRepository\:\:create\(\) should return App\\Modules\\Auth\\Models\\User but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/UserRepository.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\UserRepository\:\:findByEmail\(\) should return App\\Modules\\Auth\\Models\\User\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/UserRepository.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\UserRepository\:\:findByPhone\(\) should return App\\Modules\\Auth\\Models\\User\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/UserRepository.php

		-
			message: '#^Method App\\Modules\\Auth\\Repositories\\Eloquent\\UserRepository\:\:getById\(\) should return App\\Modules\\Auth\\Models\\User but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Auth/Repositories/Eloquent/UserRepository.php

		-
			message: '#^PHPDoc type string of property App\\Modules\\Auth\\database\\factories\\UserFactory\:\:\$model is not covariant with PHPDoc type class\-string\<App\\Modules\\Auth\\Models\\User\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Modules\\Auth\\Models\\User\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Modules/Auth/database/factories/UserFactory.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Console\\Command\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Modules/Auth/database/seeders/ManagerSeeder.php

		-
			message: '#^Variable \$configData might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Modules/Base/Resources/views/components/dashboard/layouts/sections/scriptsIncludes.blade.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: app/Modules/Notifications/Http/Resources/V1/NotificationResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>content" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Structure/Http/Services/Api/V1/StructureService.php

		-
			message: '#^Using nullsafe property access "\?\-\>content" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Structure/Http/Services/Dashboard/SectionManagementService.php

		-
			message: '#^Method App\\Modules\\Structure\\Repositories\\Eloquent\\StructureRepository\:\:publish\(\) should return App\\Modules\\Structure\\Models\\Structure but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Structure/Repositories/Eloquent/StructureRepository.php

		-
			message: '#^Method App\\Modules\\Structure\\Repositories\\Eloquent\\StructureRepository\:\:structure\(\) should return App\\Modules\\Structure\\Models\\Structure\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Structure/Repositories/Eloquent/StructureRepository.php
